<h2>Creatures</h2>
<% @creatures.each do |creature| %>
	<p><strong>Name: </strong> <%= creature.name%><br><strong>Description: </strong> <%= creature.description%></p>
	<%= link_to "Show", creature_path(creature) %>
<% end %>
<%= link_to "New", new_creature_path %>